<!DOCTYPE html>
<html lang="en">
<head>
{% include 'extend.html' %}
    <title>cookie</title>
	

</head>
<body>

    <nav class='navbar navbar-default'>
        <div class='container-fluid'>
            <div class='navbar-header'>
                <div class='navbar-brand' align=center>
                    cookie
                </div>
            </div>
            <ul class='nav navbar-nav'>
                <li><a href='/talk/'>張貼訊息</a></li>  
				<li><a href='/talklist/'>瀏覽訊息</a></li> 
				<li><a href='/mail/'>聯絡管理員</a></li> 
				<li><a href='/diary/'>我的日記</a></li>
				<li><a href='/cookie/'>cookie</a></li> 
            </ul>
        </div>
    </nav>
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/try.css' %}" />

    <div class='container'>
     {% if message %}
           <div class='alert alert-warning'>{{ message }}</div>
     {% endif %}
     <div class='panel panel-primary'>
           <div class='panel-heading'>
                  <h3>cookie</h3>
			</div>
           <div class='panel-body'>
				<p>你的姓名:{{ name }} 幸運色:{{ color }}</p> 
           </div>

         </div>
      </div>
</body>
</html>