<!DOCTYPE html>
{% extends "tvbase.html"%}
{% block title %} Song {% endblock %}
{% block code %}
{% load staticfiles %}
<nav class="navbar navbar-default">

    <div class="container-fluid">
	<a href="/"><img src="{% static "images/home-icon.png" %}"  width =60 border="0"></a>
        <div class="navbar-header">
            <a class="navbar-brand" href="#">目前歌曲:{{tv.name}}</a>
        </div>
        <ul class="nav navbar-nav">
            {% for t in tv_list %}
                <li><a href="{% url 'tv_url' forloop.counter0 %}">{{ t.name }}</a></li>
            {% endfor %}
        </ul>
    </div>
</nav>
<div class="container">
    <div id="tvnum" align="center">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/{{tv.tvcode}}?autoplay=1" frameborder="0" allowfullscreen></iframe>
    </div>
	<a>現在時間{% now 'h:m:s a'%}{% if hour > 18 %}晚安{% elif hour <= 18%}早安{% endif %}</a>
{% endblock %}